@page "/"
@layout EmptyLayout
@using System.Security.Claims

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">NKN</div>
            <nav>
                <a class="nav_link" href="#">Home</a>
                <a class="nav_link" href="/tracks">Tracks</a>
                <a class="nav_link" href="#">About</a>
                <AuthorizeView>
                    <Authorized>
                        @*@context.User.FindFirst(ClaimTypes.Name).Value*@
                        <a class="nav_link" href="login/logout">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="nav_link" href="login/microsoft?RedirectUri=/">Login</a>
                    </NotAuthorized>
                </AuthorizeView>

            </nav>
        </div>
    </div>
</header>

<div class="home">
    <div class="container">
        <div class="home_inner">
            <h2 class="home_suptitle">Musician, Streamer, NerdyKidNick</h2>
            <h1 class="home_title">NerdyKidNick</h1>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">

        <div class="section_header">
            <h1 class="section_header_text">About me</h1>
            <div class="section_text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release 
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions 
                of Lorem Ipsum.</p>
            </div>
        </div>

        <div class="about">
            <div class="about_item">
                <div class="about_img">
                    <img src="test.jpg" width="380" alt="Alternate Text" />
                </div>
                <div class="about_text">Twitch</div>
            </div>
            <div class="about_item">
                <div class="about_img">
                    <img src="test.jpg" width="380" alt="Alternate Text" />
                </div>
                <div class="about_text">Twitter</div>
            </div>
            <div class="about_item">
                <div class="about_img">
                    <img src="test.jpg" width="380" alt="Alternate Text" />
                </div>
                <div class="about_text">Instagram</div>
            </div>
        </div>

    </div>
</section>

@code {

}
