@inherits LayoutComponentBase
@using System.Security.Claims

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @context.User.FindFirst(ClaimTypes.Name).Value
                    <a class="btn btn-dark" href="login/logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-light" href="login/microsoft?RedirectUri=/tracks">Login</a>
                </NotAuthorized>
            </AuthorizeView>
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
