@import '';

/* _content/NKNProject/Shared/LandingPage.razor.rz.scp.css */
body[b-yz907zhuwa]{
    margin: 0;    
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*[b-yz907zhuwa],
*[b-yz907zhuwa]:before,
*[b-yz907zhuwa]:after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container[b-yz907zhuwa]{
    width:100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.home[b-yz907zhuwa]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.home_vid[b-yz907zhuwa]::after {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #310068, #3a5d9c);
    opacity: .9;
    z-index: -10;
}

.home_texture[b-yz907zhuwa] {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(texture.png);
    z-index: -1;
}

.home_video[b-yz907zhuwa] {   
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

.home_inner[b-yz907zhuwa]{
    width: 100%;
    margin: 0 auto;
}

.home_title[b-yz907zhuwa]{
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.home_suptitle[b-yz907zhuwa]{
    font-size: 26px;
    color: #fff;
    text-align: center;
}

.header[b-yz907zhuwa] {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner[b-yz907zhuwa]{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo[b-yz907zhuwa]{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.nav[b-yz907zhuwa]{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link[b-yz907zhuwa]{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    position:relative;
    transition: color .1s linear;
}

.nav_link[b-yz907zhuwa]:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #0094ff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

.nav_link:hover[b-yz907zhuwa] {
    color: #0094ff;
}

.nav_link:hover[b-yz907zhuwa]:after {
    opacity: 1;
}

/*Sections*/

.section[b-yz907zhuwa]{
    padding: 150px 0;
}

.section_header[b-yz907zhuwa] {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 100px;
    text-align: center;
    color: white;
}

.section_title[b-yz907zhuwa] {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

/*About*/

.about-container[b-yz907zhuwa] {
    display: flex;
    height: 100vh;
}

.about-container-section[b-yz907zhuwa] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: flex .4s ease;
    position: relative;
}

.about-container-section .about-container-overlay[b-yz907zhuwa] {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;
}

.about-container-section .about-container-content[b-yz907zhuwa] {
    z-index: 2;
}

.about-container-section:hover[b-yz907zhuwa] {
    flex: 2;
}

.about-container-section:hover .about-container-overlay[b-yz907zhuwa] {
    background-color: rgba(0, 0, 0, 0.95);
}


#twitch[b-yz907zhuwa] {
    background-image: url("/socialmedia/twitch.png");
}


#twitter[b-yz907zhuwa] {
    background-image: url("/socialmedia/twitter.png");
}

#instagram[b-yz907zhuwa] {
    background-image: url("/socialmedia/instagram.png");
}

/*Tracks Block*/

.tracks_block[b-yz907zhuwa] {
    display: flex;
    flex-wrap: wrap;    
}

.tracks_item[b-yz907zhuwa] {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.tracks_item:hover .tracks_content[b-yz907zhuwa]{
    opacity: 1;
}

.tracks_img[b-yz907zhuwa] {
    color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate3d(-50%, -50%, 0);
}

.tracks_content[b-yz907zhuwa]{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 25, 247, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s linear;
}

.tracks_name[b-yz907zhuwa]{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform:uppercase;
}

.tracks_year[b-yz907zhuwa] {
    font-size: 14px;
    color: white;
}

/*Footer Block*/

.footer[b-yz907zhuwa] {
    background-color: rgba(95, 25, 247, 0.50);
}

.footer_inner[b-yz907zhuwa] {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer_block[b-yz907zhuwa]{
    width: 50%;
    padding: 0 15px;
    text-align: center;
}

.footer_title[b-yz907zhuwa]{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform:uppercase;
}

.footer_address[b-yz907zhuwa]{
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

/*Footer Copyright*/
.copyright[b-yz907zhuwa] {
    padding: 20px 0;
    background-color: rgba(36, 7, 99, 0.8);
}

.copyright_text[b-yz907zhuwa]{
    text-align: center;
    font-size: 14px;
    color: gray;
    line-height: 1.5;
}


@media(max-width: 1230px){

    /*Home Page*/

    .home_suptitle[b-yz907zhuwa] {
        font-size: 24px;
    }
    .home_title[b-yz907zhuwa] {
        font-size: 120px;
    }

    /*About Page*/

    #instagram[b-yz907zhuwa]{
        background-size: 50%;
    }

    #twitch[b-yz907zhuwa] {
        background-size: 50%;
    }

    #twitter[b-yz907zhuwa] {
        background-size: 50%;
    }

    /*Tracks Page*/

    .tracks_item[b-yz907zhuwa]{
        width: 50%;
    }
}

@media(max-width: 990px){
    /*Home Page*/

    .home_suptitle[b-yz907zhuwa] {
        font-size: 20px;
    }

    .home_title[b-yz907zhuwa] {
        font-size: 100px;
    }
}


@media(max-width: 840px) {
    .home_suptitle[b-yz907zhuwa] {
        font-size: 18px;
    }

    .home_title[b-yz907zhuwa] {
        font-size: 80px;
    }
}

@media(max-width: 770px){


}

@media(max-width: 670px) {
    /*Home Page*/

    .home_suptitle[b-yz907zhuwa] {
        font-size: 14px;
    }

    .home_title[b-yz907zhuwa] {
        font-size: 55px;
    }

    .about-container-text[b-yz907zhuwa]{
        font-size: 20px;
    }

    .tracks_item[b-yz907zhuwa] {
        width: 100%;
    }
}

@media(max-width: 575px) {
    /*Home Page*/

    .home_suptitle[b-yz907zhuwa] {
        font-size: 12px;
    }

    .home_title[b-yz907zhuwa] {
        font-size: 40px;
    }
}
/* _content/NKNProject/Shared/MainLayout.razor.rz.scp.css */
.page[b-64a0hstf8v] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-64a0hstf8v] {
    flex: 1;
}

.sidebar[b-64a0hstf8v] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-64a0hstf8v] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-64a0hstf8v]  a, .top-row .btn-link[b-64a0hstf8v] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-64a0hstf8v] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-64a0hstf8v] {
        display: none;
    }

    .top-row.auth[b-64a0hstf8v] {
        justify-content: space-between;
    }

    .top-row a[b-64a0hstf8v], .top-row .btn-link[b-64a0hstf8v] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-64a0hstf8v] {
        flex-direction: row;
    }

    .sidebar[b-64a0hstf8v] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-64a0hstf8v] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-64a0hstf8v] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/NKNProject/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-vblduytxzr] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-vblduytxzr] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-vblduytxzr] {
    font-size: 1.1rem;
}

.oi[b-vblduytxzr] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-vblduytxzr] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-vblduytxzr] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-vblduytxzr] {
        padding-bottom: 1rem;
    }

    .nav-item[b-vblduytxzr]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-vblduytxzr]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-vblduytxzr]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-vblduytxzr] {
        display: none;
    }

    .collapse[b-vblduytxzr] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
